ul{
    background-color: aqua;
}

.first{
    background-color: blue;
    list-style: none;
    display: flex;
    justify-content: start;
    gap:30px;
    padding: 0;
}


.first li{
    background-color: red;
    width: 25px;
}
.second li:first-child{
    background-color: aqua;
    margin-left: 100px;
}

.second{
    background-color: rgb(15, 115, 35);
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 0;
    flex-wrap: wrap;
    gap:30px;
}

.second li{
    background-color: red;
    width: 25px;
}